<div class="container w-50 mb-3" id="adminSignup">
    <h2 class="mb-3" style="text-align: center;">Admin Signup form</h2>
    <form action="/admin/adminSignup" method="post">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Name</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" name="Name">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Email</label>
  <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Email" name="Email">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Password</label>
  <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password" name="Password">
</div>
<div class="mb-3" style="text-align: center;">
  <input type="submit" class="btn btn-success" >
</div>
</form>
</div>