<div class="container w-50" id="orderSucess">
    <i class="bi bi-send-check orderSuccess"></i>
    <h2 style="font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Order Successfull</h2>
<a href="/view-orders" class="btn btn-info">View orders</a>
</div>
