<div class="card mb-3 bg-transparent" style="max-width: 77%; height: 77vh; justify-content: center; margin: 9em;border: none;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/{{data._id}}.jpg" class="img-fluid rounded-start" alt="..." id="Image">
    </div>
    <div class="col-md-8 ">
      <div class="card-body ms-5">
        <h5 class="card-title">Model : Inspiron 3501</h5>
        <p class="card-text">Processor : Intel I7 </p>
        <p class="card-text">Graphics card : 4gb </p>
        <p class="card-text">HDD : 1 TB , SSD 250 </p>
        <p class="card-text">Color : Random </p>
        <p class="card-text">MFD : 01/01/2023 </p>
        <p class="card-text">O/S : Windows 11 (updated) </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>